<template>
  <div>
        <button @click="count++"> You clicked me {{ count }} times </button>
        <div>{{ name.split('').reverse().join('') }}</div>
        <button :disabled="isButtomDisabled" v-on:click="clickButtom" >Button</button>
    </div>

</template>

<script setup>
import { ref } from "vue"

const pros = defineProps({
    countP: {type :Number,default:0},
})

// 定义组件的事件
const emits = defineEmits(['countChanged'])
emits('countChanged')

const count  = ref(pros.countP);

// 抛出countChanged事件： count.value
const handleClick = () =>{
    count.value++
    emits('countChanged',count.value)
}

const name = ref('asdfsdf');
const isButtomDisabled = ref(false)
const clickButtom = () => {
    isButtomDisabled.value = !isButtomDisabled.value
}
</script>

<style lang="scss" scoped>

</style>