<template>
    
    <div class="login">
        <!-- login form表单-->
        <a-form class="login-form" :rules="formRules" :model="form" @submit="handleSubmit">
            <div class="title" style="margin-bottom: 30px;">欢迎登录 博客系统</div>
            <a-form-item hide-label field="username" label="">
                <a-input v-model="form.username" placeholder="请输入用户名..." />
            </a-form-item>
            <a-form-item hide-label field="password" label="">
                <a-input-password v-model="form.password" placeholder="请输入用户密码..." />
            </a-form-item>
            <a-form-item hide-label field="is_member">
                <a-checkbox v-model="form.is_member">
                    记住登录
                </a-checkbox>
            </a-form-item>
            <a-form-item hide-label>
                <a-button html-type="submit" style="width: 450px;">登录</a-button>
            </a-form-item>
        </a-form>
    </div>
</template>

<script setup>
import { ref } from 'vue';
import axios from 'axios';
import { LOGIN } from '../api/token'
import { state } from '../stores/app'

const form = ref({
    username: '',
    password: '',
    is_member: false,
})

const handleSubmit = (data) => { 
    // 调用后端api
    console.log(data)

    // axios  调用api请求
    // 临时创建一个http 实例进行请求
    LOGIN(form.value).then(function (response) {
        console.log(response);
        // 把返回的Token对象保持到浏览器，选用浏览器存储： localstorage
        // 需要一个比较集中管理  应用状态的存储方案: app {token:'',isLogin}
        // localstorage  不是响应式数据，跟踪有没有被修改，把localstorage做成响应式的
        state.value.token = response
             localStorage.setItem('token',JSON.stringify(response))
         })
         .catch(function (error) {
             console.log(error);
         });
         // 上面封装的等价于下面的
    // axios.post('https://127.0.0.1:8080/vblog/api/v1/tokens',form.value) 
    //      .then(function (response) {
    //          console.log(response);
    //      })
    //      .catch(function (error) {
    //          console.log(error);
    //      });

    
}

const formRules = {
    username: [
        {
            required: true,
            message: '请输入用户名'
        }
    ],
    password: [
        {
            required: true,
            message:'请输入用户密码'
        }
    ],
}

</script>

<style lang="css" scoped>

.login {
   height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.login-form {
    height: 100%;
    width: 450px;
    display: flex;
    justify-content: center;
}

.title {
    display: flex;
    justify-content: center;
    font-size: 20px;
}
</style>