<template>
    <div>
        用户名： <input type="text" @change="userInputChanged" :value="username"><br>
        密码： <input type="password" @change="passwordInputChanged" :value="password"> <br>
        登录:<button>提交</button>
    </div>
    <div>
          用户名:  {{ username }} <br>
          密码:  {{ password }}
    </div>
</template>

<script setup>
    import { getCurrentInstance,ref } from 'vue';

    //页面的数据
    var username= ref{'admin'}
    var password = ref{'123456'}

    //页面数据发生变化
    // var inputChanged = (e) =>{
    //     username.value= e.target.value
    //     console.log(e)
    // }

    // var passwordInputChanged = (e) =>{
    //     password.value = e.target.value
    // }

    // 获取前期组件的view model 实例
    const vm = getCurrentInstance()
    console.log(vm);


    // Vue实例生命周期演示
    // 以库的形式来使用vue实例提供的API
</script>

